body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;    
}
#map{
    width: 80%;
    height: 100%;
}

#panel{
    width: 30%;
    height: 100%;
    float: right;
    padding: 10px;
}

#graph{
   width: 70%;
   height: 450px;
   padding: 10px;    
}

#wrap{
padding-left: 10px;
padding-right: 10px;
}